<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-E00L9PT3V9');
  </script>

  <title>{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <!-- Header / About -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Mete Erdoğan
              </h1>
              
              <p>
                I am a first-year PhD student at <b>Stanford University</b>, currently rotating with
                <b>Mert Pilanci</b> and <b>Chris Ré</b>. My research focuses on the theoretical and
                algorithmic foundations of efficient large-scale learning systems.
              </p>
              
              <p>
                I am particularly interested in <b>LLM compression</b>, <b>efficient sequence modeling</b>,
                and <b>alternative learning rules</b> that reduce memory, compute, or optimization overhead.
                My work explores how structure in optimization and signal processing can be leveraged
                to design scalable and adaptive learning mechanisms.
              </p>
              
              <p>
                More broadly, I think about learning systems aiming to understand
                what is essential for intelligence and what is computational overhead.
              </p>
              
              <p style="text-align:center">
                <a href="merdogan@stanford.eduu">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/meterdogan07">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=h2nJVBgAAAAJ&hl=tr">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/meteerdogan/">LinkedIn</a>
              </p>


            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg">
            </td>
          </tr>
        </table>

        <!-- Research Intro -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I’m broadly interested in efficient learning and sequence modeling. Current themes include:
                (i) efficient attention/memory mechanisms for long context,
                (ii) model compression for LLM and VLMs,
                and (iii) Convex/Non-Convex Optimizaton.
              </p>
            </td>
          </tr>
        </table>

        <!-- Publications / Research posts -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}<a href="{{post.arxiv}}">arxiv</a> /{% endif %}
              {% if post.paper %}<a href="{{post.paper}}">paper</a> /{% endif %}
              {% if post.video %}<a href="{{post.video}}">video</a> /{% endif %}
              {% if post.code %}<a href="{{post.code}}">code</a> /{% endif %}
              {% if post.poster %}<a href="{{post.poster}}">poster</a> /{% endif %}
              {% if post.slides %}<a href="{{post.slides}}">slides</a> /{% endif %}
              {% if post.website %}<a href="{{post.website}}">website</a> /{% endif %}
              {% if post.youtube %}<a href="{{post.youtube}}">youtube</a> /{% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br><br><br>

        <!-- Selected Projects (replace "Intel Projects") -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Projects</h2>
              <p>
                A selection of projects and systems work (code, reports, and write-ups where available).
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'projects' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}
              <br>
              {% if post.website %}<a href="{{post.website}}">website</a> /{% endif %}
              {% if post.paper %}<a href="{{post.paper}}">paper</a> /{% endif %}
              {% if post.code %}<a href="{{post.code}}">code</a> /{% endif %}
              {% if post.slides %}<a href="{{post.slides}}">slides</a> /{% endif %}
              {% if post.video %}<a href="{{post.video}}">video</a> /{% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <br><br><br>

        <!-- Other posts -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other</h2>
              <p>
                Coursework, notes, side projects, and miscellaneous posts.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'projects' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}
              <br>
              {% if post.website %}<a href="{{post.website}}">website</a> /{% endif %}
              {% if post.paper %}<a href="{{post.paper}}">paper</a> /{% endif %}
              {% if post.code %}<a href="{{post.code}}">code</a> /{% endif %}
              {% if post.slides %}<a href="{{post.slides}}">slides</a> /{% endif %}
              {% if post.video %}<a href="{{post.video}}">video</a> /{% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <!-- Footer -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code adapted from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>

</html>
